body {
    box-sizing: border-box;
    max-width: 375px;
    max-height: 667px;
    background-color: #FB6B6B;
    border: 1px solid #DBDBDB;
}

.hidden {
    display: none;
}

.green-background {
    all: initial;
    background-color: #2FBE34;
}

.orange-background {
    background-color: #FF922E;
}

.red-background {
    background-color: #FF3030;
}

.top-bar {
    height: 160px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    width: 52px;
    height: 60px;
}

.title {
    width: 204px;
    height: 44px;
    font-family: 'Righteous', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.012em;
    color: #FFFFFF;
    transform: rotate(0.58deg);
}

.content {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question {
    width: 300px;
    height: 65px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
}

.question-img {
    width: 20px;
    height: 23px;
    color: #333333;
}

.question-number {
    font-family: 'Recursive', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}

.question-card {
    width: 299px;
    height: 131px;
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 20px;
}

.question-card-front {}

.question-card-back {}

.question-answer-text {
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}

.answer-box {
    width: 86px;
    height: 38px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 0px 0px;
}

.font-answer-box {
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.bottom-bar {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 375px;
    height: 70px;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
}

.font-bottom-text {
    font-family: 'Recursive', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}